<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home | Clubhouse</title>
	</head>
	<body>
		<h1>Welcome to Mickey Mouse Clubhouse</h1>

		<ul>
			<li>
				<a href="/signup">Sign up</a>
				<a href="/login">Login</a>
			</li>
		</ul>

		<ul></ul>
	</body>
</html>
