<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home | Clubhouse</title>
	</head>
	<body>
		<h1>Welcome to Mickey Mouse Clubhouse</h1>

		<% if(isAuthenticated){ %>
			<form action="/createPost" method="POST">
				<label for = "newpost">
					Create new posts: <input id = "newpost" name ="newpost"  type="text">
				</label>
				<button type = "submit">Submit</button>
			</form>
			<ul>
				<% posts.forEach(post => { %>
					<li><%-include('post', {post})%></li>
				<% }); %>
			</ul>

			<form action="/logout" method="POST">
				<button type="submit">Logout</button>
			</form>
		<% } else { %>
			<ul>
				<li>
					<a href="/signup">Sign up</a>
					<a href="/login">Login</a>
				</li>
			</ul>
		<% } %> 

	</body>
</html>
